lab/Lab1/*.pdf
lab/Lab2/*.pdf
lab/Lab1/*.mp4
lab/Lab2/*.mp4

lab/RunAsTI
lab/eNSP_SetupV100R003C00SPC100.exe
lab/VirtualBox-5.2.30-130521-Win.exe
lab/WinPcap_4_1_3.exe
lab/Wireshark-win64-3.4.8.exe

.DS_Store

# Office 临时文件（~$ 开头的文件）
~$*

# 忽略课程设计的实现 避免嵌套git仓库
课程设计/Project-Network/

*.cfg